.rojo{
  color: red;
}

.azul{
  color: blue;
}
img{
  width: 500px;
  height: 400px;
}
.verdeletra{
  color: green;
}
.azulletra{
  color: blue;
}
.rojoOscuroletra{
  color: rgb(80, 19, 19);

}
.violetaletra{
  color: rgb(162, 32, 167);
}
.azulOscuroletra{
  color: rgb(26, 26, 77);
}
.rojoletra{
  color: red;
}
