<div class="body">

    <div *ngIf="!activarMsg">

        <h2>Formulario</h2>
        <form [formGroup]="formulario" (ngSubmit)="validacion()" class="form-register">

          <ul>
            <li>
                <label>Nombre Completo</label>
                <input type="text" class="form-control" formControlName="nombre"  placeholder="Nombre Completo" id="place">
                <div *ngIf="formulario.controls['nombre'].invalid && (formulario.controls['nombre'].dirty || formulario.controls['nombre'].touched)" class="alert alert-danger">
                    <div *ngIf="formulario.controls['nombre'].hasError('required')">
                      Campo obligatorio
                    </div>

                  <div *ngIf="formulario.controls['nombre'].hasError('maxlength')">
                    El máximo de caracteres es 50
                  </div>

                </div>
            </li>

            <li>
                <label>Telefono</label>
                <input type="number" class="form-control"  id="numero" formControlName="telefono" placeholder="Telefono">
                <div *ngIf="formulario.controls['telefono'].invalid && (formulario.controls['telefono'].dirty || formulario.controls['telefono'].touched)" class="alert alert-danger">
                  <div *ngIf="formulario.controls['telefono'].hasError('required')">
                    Campo obligatorio
                  </div>

              </div>
          </li>


            <li>
              <label>Correo Electronico</label>
              <input type="text"  class="form-control" formControlName="correo" placeholder="Correo Electronico">
              <div *ngIf="formulario.controls['correo'].invalid && (formulario.controls['correo'].dirty || formulario.controls['correo'].touched)" class="alert alert-danger">
                <div *ngIf="formulario.controls['correo'].hasError('required')">
                  Campo obligatorio
                </div>

              <div *ngIf="formulario.controls['correo'].hasError('email')">
                Debe ser un correo valido
              </div>

            </div>
            </li>


            <li>
              <p>Selecciona una opción</p>
              <select name="select" class="form-control" formControlName="opcion" >
                <option value="2">Contenidos</option>
                <option value="3" >Publicidad</option>
                <option value="4">Sugerencias</option>
                <option value="5">Suscripciones Digitales</option>
              </select>

            </li>

            <li>
              <label>Mensaje</label> <br>
              <textarea formControlName="mensaje"cols="20"  rows="4" class="form-control" placeholder="Inserta aqui tu mensaje"></textarea>
              <div *ngIf="formulario.controls['mensaje'].invalid && (formulario.controls['mensaje'].dirty || formulario.controls['mensaje'].touched)" class="alert alert-danger">
                <div *ngIf="formulario.controls['mensaje'].hasError('required')">
                  Campo obligatorio
                </div>

              <div *ngIf="formulario.controls['mensaje'].hasError('maxlength')">
                El máximo de caracteres es 500
              </div>

            </div>
            </li>


            <li>
              <button type="submit" class="btn btn-success" [disabled]="!formulario.valid" >Enviar Datos</button>
            </li>
                          <!-- btn btn-success-->

            <li>
                <p>El boton "Enviar Datos" está deshabilitado hasta que completes todos los campos</p>
            </li>
          </ul>
        </form>
    </div>

    <div *ngIf="activarMsg">
        Hemos recibido tus datos!
    </div>

            <script>var exports={};</script>
</div>
